/********************* Design Steps ************************
1. Default style
2. Re-usable style
3. Header Section
4. Hero Section
5. Counter Section
6. Features section
7. Plan section
8. Brand section
9. 
10. 
11. 
*************************************************************/

/************ 1. Default style ************/
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0b132a;
}

h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 50px;
}

p {
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
}

img {
  width: 100%;
  border-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style: none;
}

/************ 2. Re-usable style ************/
.container {
  max-width: 1140px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 15px;
}

@media (max-width: 426px) {
  .container {
    padding-inline: 3rem;
  }
}

.section-title {
  text-align: center;
  margin: auto;
}

.primary-btn {
  color: #fff;
  background-color: #f53838;
  border-radius: 10px;
  padding: 18px 78px;
  font-weight: 700;
  font-size: 16px;
  border: 2px solid transparent;
}

.primary-btn:hover {
  color: #f53838;
  background-color: transparent;
  border: 2px solid #f53838;
  box-shadow: 0 30px 27px -15px rgba(245, 56, 56, 0.35);
}

.secondary-btn {
  padding: 12px 62px;
  background-color: transparent;
  color: #f53838;
  border: 1px solid #f53838;
  border-radius: 50px;
  transition: all 0.5s ease-in;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.secondary-btn:hover {
  cursor: pointer;
  background-color: #f53838;
  color: #fff;
  box-shadow: 0 30px 27px -15px rgba(245, 56, 56, 0.35);
}

.primary-btn,
.main-menu ul li a,
.card-plan,
.single-review,
.social-media-icons a,
.footer-links a {
  transition: all 0.4s ease-in-out;
}

/************ 3. Header Section ************/
header {
  height: 90px;
}

header .header-content {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

header .middle-menu {
  display: flex;
  list-style: none;
  gap: 40px;
}

header .middle-menu a {
  color: #4f5665;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

header .middle-menu a:hover {
  color: #f53838;
}

header .right-menu {
  display: flex;
  list-style: none;
  gap: 30px;
  align-items: center;
}

header .right-menu a {
  color: #0b132a;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  transition: all 0.5s ease-in;
}

header .right-menu a:hover {
  color: #f53838;
}

.hamburger {
  display: none;
}

@media (max-width: 992px) {
  header .right-menu {
    display: none;
  }

  header .middle-menu {
    display: none;
  }

  .hamburger {
    display: block;
  }
}

/************ 4. Hero Section ************/
.hero-wraper {
  padding-top: 40px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.hero-content,
.hero-img {
  flex-grow: 1;
  flex-basis: 50%;
}

.hero-content h1 {
  font-size: 50px;
  line-height: 70px;
  font-weight: 500;
  margin-bottom: 20px;
}

.hero-content h1 span {
  font-weight: 700;
  color: #0b132a;
}

.hero-content p {
  margin-bottom: 50px;
}

.hero-content p span {
  font-weight: 500;
}

@media (max-width: 992px) {
  .hero-wraper {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    gap: 8rem;
    margin-inline: auto;
  }

  .hero-img {
    max-width: 90%;
  }
}

@media (max-width: 426px) {
  .hero-content {
    text-align: center;
  }

  .hero-content h1 {
    font-size: 48px !important;
  }

  .hero-img {
    max-width: 100%;
  }

  .primary-btn {
    padding: 14px 50px;
    font-weight: 700;
    font-size: 15px;
  }
}

@media (max-width: 376px) {
  .hero-content h1 {
    font-size: 40px !important;
  }
}

/************ 5. Counter Section ************/
.counter-wrapper {
  display: flex;
  padding: 38px 0;
  border-radius: 10px;
  box-shadow: 0 20px 57px -30px rgba(13, 16, 37, 0.2);
}

.users,
.location,
.servers {
  display: flex;
  gap: 36px;
  flex-basis: 33.33%;
  justify-content: center;
  padding: 30px 0;
  border-right: 2px solid #eeeff2;
}

.servers {
  border: none;
}

.counter-icon {
  color: #f53838;
  background-color: #ffecec;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-icon i {
  font-size: 18px;
}

.count-txt h4 {
  font-size: 25px;
  line-height: 30px;
}

.count-txt p {
  font-size: 20px;
}

@media (max-width: 426px) {
  .counter-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .users,
  .location,
  .servers {
    border: none;
    padding-inline: 1rem;
  }
}

@media (max-width: 376px) {
  .counter-wrapper {
    gap: 0;
  }

  .users,
  .location,
  .servers {
    flex-basis: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/************ 6. Features section ************/
.features-wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 100px;
}

.features-img {
  display: flex;
  align-items: center;
  flex-basis: 50%;
}

.features-content {
  flex-basis: 50%;
  padding-left: 20rem;
  padding-top: 6rem;
}

.feature-subtitle {
  margin-block: 20px;
}

.fecility {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 15px;
}

.fecility img {
  width: 20px;
  height: 20px;
}

.fecility p {
  font-size: 14px;
}

@media (max-width: 1025px) {
  .features-content {
    padding-left: 12rem;
  }
}

@media (max-width: 769px) {
  .features-wraper {
    flex-direction: column;
  }

  .features-content {
    padding-left: 3rem;
  }
}

@media (max-width: 426px) {
  .features-content {
    padding-left: 0;
    text-align: start;
  }
}

/************ 7. Plan section ************/
.plan-section {
  padding-block: 80px;
  background-color: #fbfbfb;
}

.plan-title {
  margin-bottom: 60px;
}

.plan-title h2 {
  margin-bottom: 16px;
}

.plans {
  display: flex;
  justify-content: space-around;
}

.card-plan {
  background-color: #fff;
  border: 2px solid #dddddd;
  padding: 70px 60px 50px 60px;
  text-align: center;
  flex-basis: 30%;
  border-radius: 10px;
  min-height: 760px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-plan:hover {
  border: 2px solid #f53838;
  transform: scale(0.9);
  box-shadow: 0 40px 40px -20px rgba(13, 16, 37, 0.2);
}

.card-plan-body img {
  width: 145px;
}

.card-plan-body h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  margin: 30px 0;
}

.plan-facility {
  display: flex;
  gap: 20px;
  align-items: center;
  text-align: justify;
  margin-bottom: 10px;
}

.plan-facility img {
  width: 32px;
}

.plan-facility p {
  font-size: 14px;
}

.card-plan-bottom h5 {
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
}

.card-plan-bottom h5 span {
  font-weight: 400;
  color: #4f5665;
}

@media (max-width: 769px) {
  .plans {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
}

/************ 8. Network section ************/
.network-section {
  padding-top: 70px;
  padding-bottom: 30px;
  background-color: #fbfbfb;
}

.network-title h2 {
  margin-bottom: 20px;
  max-width: 30%;
  margin-inline: auto;
}

.network-title p {
  max-width: 45%;
  margin: auto;
}

.network-title p span {
  font-weight: 500;
}

.map-img {
  background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0.00) 88.56%);
}

.map-img img {
  padding-top: 6rem;
  padding-inline: 8rem;
}

@media (max-width: 1024px) {
  .network-title h2 {
    max-width: 33%;
  }
  
  .network-title p {
    max-width: 50%;
  }
}

@media (max-width: 769px) {
  .network-title h2 {
    max-width: 45%;
  }
  
  .network-title p {
    max-width: 60%;
  }
}

@media (max-width: 426px) {
  .network-title h2 {
    max-width: 95%;
  }
  
  .network-title p {
    max-width: 100%;
  }

  .map-img img {
    padding-top: 0;
    padding-inline: 0;
    margin-top: 3.5rem;
  }
}

/************ 8. Brand section ************/
.brand-section {
  background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0.00) 88.56%);
}

.brand-wraper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.brand-wraper img {
  max-width: 190px;
}

@media (max-width: 769px) {
  .brand-wraper {
    gap: 25px;
  }
}

@media (max-width: 426px) {
  .brand-wraper {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}